body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  display: flex;
  justify-content: center;
  background: #222;
  padding: 20px;
}
.navLink {
  color: #fff;
  text-decoration: none;
}
.link {
  color: #222;
  text-decoration: none;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.item {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 20px;
}
.item h3 {
  color: #222;
}
.item h5 {
  color: #222;
}
.home {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 20px;
}
.d {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 700px;
  margin: 0 auto;
  width: 400px;
}
.item button {
  width: 100px;
  height: 30px;
  border: 0;
  font-size: 15px;
  background: #333;
  color: #fff;
}
